.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
    width: 100%;
}

.contacts-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 40vw;
    min-height: 40vh;
    background-color: var(--dark-accent-grey);
    border-radius: 30px;
    box-shadow: 5px 5px 10px var(--main-color-dark);
    color: var(--main-color-light);
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.linkedin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.link{
    text-decoration: none;
    color: var(--main-color-light);
}

.link:hover{
    color: var(--ligth-accent-yellow);
}

.tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.icon {
    color: white;
    font-size: 1.5rem;
}